/* style */
h1{
    padding-left: 200px;
}
a{
    text-decoration: none;
}
table{
    text-align: center;
}
#total{
    width: 800px;
    height: 800px;
    background: ivory;
}
div{
    font-size: 15px;
    font-weight: bold;
    color: black;
}
#top{
    width: 800px;
    height: 100px;
    padding: 2px;
    /* padding-left: 30px; */
}
#top2{
    width: 250px;
    height: 100px;
    background: beige;
    padding: 2px;
    position: fixed;/
    top: 40px;
    right: 50px
}
#center{
    width: 800px;
    height: 800px;
    padding: 30px;
}
#list{
    padding-top: 70px;
}